@import './base.css';

html {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    color: var(--text);
  }

body {
    background-color: var(--body-bg);
}

/* HEADINGS */

h1, h2, h3 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.subject {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
/* PARAGRAPHS */

p {
  margin-bottom: 1rem;
}

p.extra {
  margin-bottom: 2rem;
}

/* LISTS */

ul li {
  list-style-type: disc;
}

ul li.spaced {
  margin-bottom: 1rem;
}

ul.indent {
  margin-left: 1rem;
}

.no-list-style li {
  list-style-type: none;
}

ol li {
  list-style-type: decimal;
}

li.details::marker {
  color: hotpink;
  content: '# ';
  font-size: 1rem;    
}

input {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1rem;
  color: var(--text);
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  resize: none;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1rem;
  color: var(--text);
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  overflow: scroll;
}

.buttonized-link {
  font-family: 'Roboto Slab', sans-serif;   
  font-size: .8rem;  
  background-color: var(--color-mint-200); 
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  width:fit-content;
  cursor: pointer;
  box-shadow: var(--shadow-light);
} 

.buttonized-link:hover {   
  box-shadow: none;
} 



@media print {
  .no-print {
    visibility: hidden;
  }
  .page {
    break-after: page;
  }
}
